/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: linear-gradient(45deg, #a9deed, #566e4b);
    background-size: 200% 200%;
    animation: gradientAnimation 15s ease infinite;
    color: #333;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Header */
header {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 1.5rem 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 700;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    color: #00c6ff;
    transform: scale(1.1);
}

/* Profile Picture */
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 30px auto;
    border: 4px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Sections */
section {
    padding: 30px;
    max-width: 900px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

section:hover {
    background-color: rgba(255, 255, 255, 1);
}

/* Section Titles */
h2 {
    color: #0072ff;
    font-size: 2rem;
    margin-bottom: 20px;
    border-bottom: 3px solid #0072ff;
    display: inline-block;
    padding-bottom: 10px;
}

/* Summary */
.summary {
    text-align: center;
    color: #000;
    font-weight: 600;
    padding: 0 20px;
    font-size: 1.2rem;
}

/* Lists */
ul {
    padding-left: 20px;
}

li {
    margin-bottom: 15px;
    font-size: 1rem;
}

/* Contact Section */
section#contact a {
    color: #0072ff;
    text-decoration: none;
    font-weight: 600;
    position: absolute;
   
}

section#contact a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    height: 34px;
    padding:2px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}
